
<p>
  <strong>Time:</strong>
  <%= @tweet.time %>
</p>
 
<p>
  <strong>content:</strong>
  <%= @tweet.content %>
</p>
<p>
  <strong>fromUser:</strong>
  <%= @tweet.fromUser %>
</p>

<%= link_to 'Back to Tweets', tweets_path %>


 
